.box {height: 300px;width: 60%;margin:0 auto}
.box2{height: 300px;width: 60%;margin:0 auto}
.box_map{height: 600px;width: 80%;margin:0 auto}
.box_large{height: 600px;width: 80%;margin:0 auto}
.box_huge{height: 800px;width: 85%;margin:0 auto}